body{
    background-color: rgb(241, 217, 85);
    padding: 100px;
    text-align: center;
    font-family: monospace;
}
.title{
    font-size: 4em;
}
p{
    font-size: 2em;
}
#exercise1{
    color: blue;
}
#exercise2{
    color: rgb(200, 0, 255);
}
#exercise3{
    color: rgb(255, 0, 212);
}
#exercise4{
    color: rgb(0, 174, 255);
}
#exercise5people,
#exercise5removeDani,
#exercise5removeJuan,
#exercise5moveLuis,
#exercise5addDaniela,
#exercise5indexOfMaria{
    color: rgb(111, 0, 255);
}